{% extends "layouts/base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="fr">

  {% block head %}
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Se connecter à un compte</title>
    
    <link rel="shortcut icon" href="{% static 'actual/img/logo.png' %}">

    <!-- Bootstrap Core CSS --> 

    <link href="{% static 'css/style1.css'%}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" />


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS 
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">-->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  {% endblock head %}

  {% block body %}
  <body style="margin-top: 0px;">

    <!--<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Se connecter
                        <strong> à son Compte BVCI</strong>
                    </h2>
                    <hr>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <form role="form" action="/connection" method="POST">
                        
                        
                        

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Addresse mail</label>
                                <input type="email"  class="form-control" name="email" placeholder="">
                            </div>
                            
                            <div class="form-group col-lg-12">
                                <label>Telephone</label>
                                <input type="text"   class="form-control" name="telephone" placeholder="+58343332">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Mot de passe</label>
                                <input type="password"  class="form-control" name="password" placeholder="***********">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submbody" class="btn btn-success">
                                    <div> SE CONNECTER </div>
                                </button>
                                <div class="address-bar">Abidjan :Codody saint jean | Côte d'Ivoire | 85.89.54.51</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->

    <div id="login-page">
        <div class="container">
          <div class="text-center" style="color: red;">{{form.errors}} </div>
          
          <form class="form-login" action="" method="POST">
            {% csrf_token %}
            
            <h2 class="form-login-heading" style="background-color: green;">S'INCRIRE</h2>
            <div class="login-wrap">
                <h4 style="font-weight: bold; text-align:center;">{{form.username.label}}</h4>
                <label class="form-control">{{form.username}}</label>
                <br>
                <h4 style="font-weight: bold; text-align:center;">{{form.email.label}}</h4>
                <label class="form-control">{{form.email}}</label>
                <br>
                <h4 style="font-weight: bold; text-align:center;">{{form.password1.label}}</h4>
                <label class="form-control">{{form.password1}}</label>
                <br>
                <br>
                <h4 style="font-weight: bold; text-align:center;">{{form.password2.label}}</h4>
                <label class="form-control">{{form.password2}}</label>
              <!--<label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>
                </span>
                </label>-->
                <br>
                <div class="text-center">
                  <input type="submit" name="Create User" style="background-color: green; font-size: larger; color:white ">
              </div>

              <hr>
              <!--<div class="login-social-link centered">
                <p>or you can sign in via your social network</p>
                <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
              </div>-->
              
              <div class="registration">
                <a class="" href=" {% url 'loginPage' %} ">
                  J'ai déja un compte
                  </a>
                <br>
                <hr>
                <br>
                <!--Don't have an account yet?<br/>-->
                <a class="" href=" {% url 'index' %} ">
                  Accueil
                  </a>
              </div>
            </div>
            <!-- Modal 
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Forgot Password ?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Enter your e-mail address below to reset your password.</p>
                    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-theme" type="button">Submit</button>
                  </div>
                </div>
              </div>
            </div>-->
            <!-- modal -->
          </form>
        </div>
      </div>

    <!-- /.container -->
    <br>
    {% block footer %}
        {% include "layouts/footer.html" %}
    {% endblock footer %}
    
    {% block js %}
        <!-- jQuery -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js'%}"></script>
    <script>
        $.backstretch( "{% static 'img/bg.jpg' %}" , {
        speed: 500
        });
    </script>
    {% endblock js %}
  </body>
  {% endblock body %}

</html>
