body
{
  font-family: 'Roboto-regular', sans-serif;
}
.container ul {margin:0;
padding:0 0 0 1px;
list-style-type: none;
text-align: center;
}

.sn{
	background-color:#660000;
	color:#ffffff;
	text-align: center;
  }


.container ul .lld  {
	display: block;
	width: 138px;
	height: 35px;
	/*background: #838383;*/
	color: #00Fb2f;
	font-size: 14px;
	line-height: 35px;
	text-decoration: none;
	padding-left: 15px;
}

.container nav ul li a:hover{
background: orange;

}

.container nav ul li{float:left;position: relative;}


nav li ul{
display:none;
position: absolute;
top:35px;
left:0;
width:150px;
z-index: 10;
}

nav ul li:hover ul{display:block;}
